* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Custom scroll bar code */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fce8a6;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    height: 300px;
    
}

.text-bg{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    width: max-content;
    padding: 10px;
}

.btn-primary{
    margin-top: 5px;
    background-color: #525252;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #3d3d3d;

}

.cardbg-1{
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=80");
    background-position: center;
    background-size: cover;
}



@media screen and (max-width: 768px) {
    .card{
        height: 200px;
        padding: 0;
        overflow: hidden;
    }
    .text-bg{
        width: 100%;
        border-radius: 0;
    }
}