* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 2000px;
    margin: 0 auto;
}

/* Custom scroll bar code */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 8px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fce8a6;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    height: 300px;
}

.card:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.text-bg{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    width: max-content;
    padding: 10px;
    max-width: 100%;
}

.btn-primary{
    margin-top: 5px;
    background-color: #525252;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    
}
.btn-primary:hover{
    background-color: #3d3d3d;

}

.cardbg{
    background-position: center;
    background-size: cover;
}

.cardbg-1{
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=80");
}

.cardbg-2{
    background-image: url("https://images.unsplash.com/photo-1528747045269-390fe33c19f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=80");
}

.cardbg-3{
    background-image: url("https://images.unsplash.com/photo-1545665277-5937489579f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
}

.cardbg-4{
    background-image: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=920&q=80");
}

.cardbg-5{
    background-image: url("https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
}



@media screen and (max-width: 600px) {
    .card{
        padding: 0;
        overflow: hidden;
    }
    .text-bg{
        width: 100%;
        border-radius: 0;
        backdrop-filter: blur(0.3px);
    }
    .btn-primary{
        scale: 1.2;
    }
}
@media screen and (max-width: 400px) {
    .card{
        height: 200px;
    }
}